<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="https://cdn.quilljs.com/1.3.0/quill.min.js"></script>
  <link href="https://cdn.quilljs.com/1.3.0/quill.snow.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/script.js"></script>
  <title>Welcome to myBlogger</title>
</head>
<body>
  <nav class="ui grid">
    <div class="computer tablet only row">
      <div class="ui fixed menu grid">
        <a href="/" class="item"><i class="idea icon"></i>myBlogger</a>
        <% if (!currentUser) { %>
          <div class="right menu">
            <a href="/users/new" class="item"><i class="laptop icon"></i>Register</a>
            <a href="/sessions/new" class="item"><i class="sign in icon"></i>Log In</a>
          </div>
        <% } else { %>
          <a href="/users/<%= currentUser.id %>" class="item"><i class="user icon"></i><%= currentUser.username %></a>
          <a href="/posts/new" class="item"><i class="write icon"></i>New Post</a>
          <div class="right menu">
            <a href="/logout" class="item"><i class="sign out icon"></i>Log Out</a>
          </div>
        <% } %>
      </div>
    </div>

    <div class="mobile only row">
      <div class="ui fixed menu">
        <a href="" class="item"><i class="idea icon"></i>myBlogger</a>
          <div class="right menu open">
            <a href="" class="menu item"><i class="sidebar icon"></i></a>
          </div>
      </div>

      <div class="ui vertical attached menu">
        <% if (!currentUser) { %>
          <a href="/users/new" class="item">Register</a>
          <a href="/sessions/new" class="item">Log In</a>
        <% } else { %>
          <a href="/users/<%= currentUser.id %>" class="item"><%= currentUser.username %></a>
          <a href="/posts/new" class="item">New Post</a>
          <a href="/logout" class="item">Log Out</a>
        <% } %>
      </div>
    </div>
  </nav>

  <div class="ui main text container" id="main-container">

