<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=pxmgmj9wsl9rrotwrss1443mizqt8wkjt0quvhj980v7fm8q"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/script.js"></script>
  <title>Welcome to myBlogger</title>
</head>
<body>
  <div class="ui stackable menu fixed">
    <a href="/" class="item">myBlogger</a>
    <a href="/posts/new" class="item" id="new-post-button">New Post</a>
  </div>

  <div class="ui main text container" id="main-container">

