* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
  max-width: 100%;
}

#main-container {
  margin-top: 125px;
}

#delete-button {
  display: inline;
}

.idea.icon {
  font-size: 25px;
}

#footer {
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-border {
  border: 1px solid gray;
  padding: 1px;
}

#post-body {
  border: 1px solid gray;
  padding: 25px;
  word-wrap: break-word;
  overflow: hidden;
}

.description {
  word-wrap: break-word;
  overflow: hidden;
  clear: both;
}

#comment-container {
  margin: auto;
}

#profile-header {
  padding-bottom: 10px;
}

#profile-name {
  margin: auto;
}

#profile-date {
  vertical-align: text-bottom;
  font-size: 0.7em;
}

#flash-message {
  position: absolute;
  right: 0;
  left: 0;
  margin: 8vh;
  width: 100%;
}

/*#copyright {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .ui.grid {
    margin: 0 !important;
  }

  .ui.vertical.attached.menu {
    margin-top: 38px !important;
    width: 100%;
    display: none;
  }
}