<% include ../partials/header %>

<h1 class="ui huge header">New Post</h1>
<form action="/posts" method="POST" class="ui form" id="new-post-form">
  <div class="field">
    <label>Title:</label>
    <input type="text" name="post[title]" placeholder="title">
  </div>

  <div class="field">
    <label>Description:</label>
    <input type="text" maxlength="300" name="post[description]" placeholder="description">
  </div>

  <div class="field">
    <label>Image:</label>
    <input type="text" name="post[image]" placeholder="image">
  </div>

  <div class="field">
    <label>Body:</label>
    <div class="editor"></div>
    <input type="hidden" name="post[body]">
  </div>

  <input class="ui inverted green button" type="submit" value="Post!">
</form>

<% include ../partials/footer %>